script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
script(src="/socket.io/socket.io.js")
script(type="text/javascript", src="javascripts/realtimeFeaturesResultsPg.js")
script(type="text/javascript", src="javascripts/divShowOrHide.js")
script(type="text/javascript", src="javascripts/clusteringShowOrHide.js")
if isCalcBool
   script(type="text/javascript", src="javascripts/calculator.js")